# Cấu hình biến môi trường (Copy file này thành .env)
SECRET_KEY=your_secret_key_here

# Chuỗi kết nối Neon Postgres (Tùy chọn, nếu không có sẽ tự động dùng SQLite/JSON)
DATABASE_URL=postgresql://neondb_owner:YOUR_PASSWORD@YOUR_HOST.aws.neon.tech/neondb?sslmode=require
